
.container
    .header-ecored
        h1 3. Importancia de medir la competitividad
    .jumbotron.bg-white 
        p Un factor clave para que los negocios sean exitosos es la medición de la competitividad de una organización, la cual se puede definir como la habilidad de una empresa para mantener un crecimiento constante, analizando variables como la capacidad de diseñar, producir o comercializar bienes y servicios.
        br
        p El efectuar un análisis de competitividad como parte de la planeación estratégica de la organización permite conocer de forma detallada los aspectos a nivel interno (debilidades y fortalezas) y externo (oportunidades y amenazas) que permitan la proyección de la compañía en el logro de los objetivos institucionales acordes a la misión y visión. 

    #31
    .header-ecored
        h1 3.1 Cálculo de la competitividad  
    .jumbotron.bg-white 
        p La medición de la competitividad implica la determinación de los componentes o factores que la generan y el grado de impacto de los mismos. Así como existe una gran cantidad de definiciones para este término, también la hay de metodologías que buscan medir determinados elementos de la competitividad, basándose en diferentes factores condicionantes.
        img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid.mt-5  

    #32
    .header-ecored
        h1 3.2 Indicadores de competitividad  
    .jumbotron.bg-white 
        .header-arrow
            h3.text-center Para medir la competitividad se pueden utilizar indicadores como los siguientes: 
        img.img-a(src="assets/images/pages/ilustraciones/img9.png").img-fluid.mt-5

    #33
    .header-ecored
        h1 3.3 Ventajas competitivas  
    .jumbotron.bg-white
        p Una ventaja competitiva en una empresa se describe como el aspecto diferenciador de la competencia colocándola en una posición relativa superior para competir en un mercado, es decir son los atributos que tiene un negocio para ser mejor que los de similares características 
        br
        p “Para conseguir una clara ventaja competitiva, ha de diferenciarse bien de la ventaja comparativa y es que la ventaja comparativa se posee cuando una empresa requiere de menos recursos y costes para producir el mismo bien que otra empresa del sector.
        br
        p Por tanto, esa ventaja comparativa se basa únicamente en términos de eficiencia de producción, sin determinar la posición en el mercado a la que puede conllevar.”

        section.my-4

            a(href="https://es.semrush.com/blog/ventaja-competitiva-claves-exito/" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Anexo</b>. Ventaja competitiva y posicionamiento de empresa: Claves de éxito

        img.img-a(src="assets/images/pages/ilustraciones/img10.png").img-fluid.my-5 
        .header-arrow
            h3.text-yellow.text-center Tipos de ventajas competitivas 
            h3.text-center Algunas ventajas competitivas que se presentan en las organizaciones, pueden ser las siguientes: 

        img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid.mt-5  