
.container
    .header-ecored
        h1 4. Conclusión
    .jumbotron.bg-white
        p A través de la ventaja competitiva, una empresa es capaz de demostrar cómo alcanzar sus objetivos y determinar una posición superior frente a sus competidores. Esa meta se encuentra en estrecha relación con el beneficio que obtiene y así la rentabilidad que demuestra. Los resultados obtenidos a través de la implementación de técnicas precisas no solo benefician a la organización pues aumenta los ingresos obtenidos en la prestación de un servicio o la venta de un producto sino que esto repercute en el consumidor final.
        img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid.mt-5