

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .card
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
            .card-body.mt-0
                p Una de las estrategias para posicionar una empresa u organización se basa principalmente en lo que ofrece y la manera como lo hace, esto es llamado ventaja competitiva y se refiere a una característica diferencial que ofrece la organización frente a su competencia, la cual la faculta para alcanzar metas medibles durante un lapso de tiempo.
                br
                p En el mercado están presentes diversos factores que afectan a una empresa en la búsqueda de posicionarse en el mercado por lo tanto es importante saber cómo medir la productividad y competitividad para establecer estrategias de mejora.
                br
                p La temática desarrollada en esta actividad de aprendizaje, facilitará al aprendiz reconocer las características de la productividad empresarial en relación con la obtención de una cuota de participación en el mercado y la medición de esta para establecer la ventaja competitiva de la organización. Se propende de igual manera que el aprendiz, comprenda de una manera teórica y práctica estos conceptos.


            hr.bd-hr-blue