.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material 
                    th.text-center Enlace del Recurso

            tbody
                tr                    

                    td
                        strong Entorno y desarrollo de ventajas competitivas: esquema conceptual para analizar el entorno de las empresas
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA3_Entorno_y_desarrollo_de_ventajas_competitivas.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar            
                tr
                    td
                        strong Situación de la competitividad de las Pyme en Colombia: elementos actuales y retos
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA3_Situacion_de_la_competitividad_de_las_pymes_en_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


                        
