include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Ceupe, E. B. (2019, 5 febrero). LA MEDICIÓN DE LA PRODUCTIVIDAD. Recuperado de ", "https://www.ceupe.com/blog/la-medicion-de-la-productividad.html")

        +referenciaItem("¿Cómo medir la competitividad de una empresa?. (2015). Recuperado de ", "https://www.amexempresas.com/libertadparatunegocio/como-medir-la-competitividad-de-una-empresa/")

        +referenciaItem("D., O. (2007). Medición de la productividad empresarial - GestioPolis. Recuperado de ", "https://www.gestiopolis.com/medicion-de-la-productividad-empresarial/")

        +referenciaItem("Espinosa, R. (2018). Ventaja Competitiva: qué es, claves, tipos y ejemplos. Recuperado de ", "https://robertoespinosa.es/2017/10/22/ventaja-competitiva-que-es-tipos-ejemplos")

        +referenciaItem("Ochoa, J. J. G., Lara, J. D. D. L., & De la Parra, J. P. N. (2017). Propuesta de un modelo de medición de la competitividad mediante análisis factorial. Contaduría y administración, 62(3), 775-791.", "")

        +referenciaItem("Rojas, P. (2001). Los complejos productivos: de la teoría a la práctica (No. 15). IICA.", "")

        +referenciaItem("Sanz, C. (2016). ventaja competitiva - Foro Capital Pymes. Recuperado de ", "https://forocapitalpymes.com/ventaja-competitiva/")  